@keyframes prokrutka{
    0%{
        background-image: url(../images/a4b5.jpg);
    }
    25%{
         background-image: url(../images/e38.jpg);
    }
    50%{
         background-image: url(../images/s600.jpg);
    }
    75%{
         background-image: url(../images/s8.jpg);
    }
    100%{
         background-image: url(../images/a4b5.jpg);
    }
}

div{
    background-image: url(../images/a4b5.jpg);
    width:500px;
    height:348px;
    border: 2px solid red;
    margin:10% 31%;
    background-size: 100%;
    animation: prokrutka 4s linear infinite; 
  
}

h1{
  text-align: center;
  font-size:34px;
  color:darkblue;
  animation-name:oh1;
  animation-direction:reverse;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

@keyframes oh1{
  from{
    opacity:0%;
  }
  to{
    opacity:80%;
  }
}