@keyframes prokrutka{
    0%{
        background-image: url(../images/a4b5.jpg);
    }
    25%{
         background-image: url(../images/e38.jpg);
    }
    50%{
         background-image: url(../images/s600.jpg);
    }
    75%{
         background-image: url(../images/s8.jpg);
    }
    100%{
         background-image: url(../images/a4b5.jpg);
    }
}

div{
    background-image: url(../images/a4b5.jpg);
    width:500px;
    height:348px;
    border: 2px solid red;
    margin:10% 31%;
    background-size: 100%;
    animation: prokrutka 4s linear infinite; 
  
}

h1 {
    margin-top: 5%;
    text-align: center;
    font-size: 34px;
    color: darkblue;
}

.nav a {
display: inline-block;
border: 1px solid black;
padding: 5px 15px 5px 15px;
background-color: yellow;
text-decoration: none;
color: blue;
}

.nav ul {
        margin:0;
        padding:0;
        list-style-type:none;
    }

.nav li a {
        display: block;
        background: yellow;
        border: 1px solid black;
        padding: 8px;
}

.nav>ul>li {
        float:left;
        width:180px;
        position: relative;
}

.nav{
   position: absolute;
   top:0px;
    left:250px;
}
