body{
    background: linear-gradient(45deg, rgb(23, 37, 111), rgb(182, 100, 82), rgb(213, 240, 55));
    font-family: "Mohave", sans-serif;
}
.cont1 {
    width: 1200px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 35px 35px 35px;
    grid-gap: 5px;
    margin-left: 155px;
    grid-template-rows: minmax(20px, auto);
    grid-template-columns: minmax(auto, auto);
}

.cont11 {
    border: 1px solid #000;
    grid-row: 1/2;
    grid-column: 1/4;
    text-align: center;
    font-size: 24px;
    background: linear-gradient(45deg, #9890e3, #b1f4cf);
}

.cont12 {
    border: 1px solid #000;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(45deg, #9890e3, #b1f4cf);
}

.cont2 {
    display: grid;
    grid-template-columns: 34px 190px 190px;
    grid-gap: 9px;
    text-align: center;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, auto);
    margin-right: 20px;
    color:#d7e6f5;
}

.cont21 {
    border: 2px solid #000;
    writing-mode: vertical-lr;
    text-orientation: upright;

}

.cont22,
.cont21,
.cont23 {
    border: 2px solid #000;
    font-size: 20px;
    background: radial-gradient(circle, #5d1a78, #414b50);
}

.cont21 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.cont22 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.cont23 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.cont3 {
    display: grid;
    grid-template-columns: 190px 190px 34px;
    grid-template-rows: 200px 200px;
    grid-gap: 9px;
    text-align: center;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, auto);
    color:#d7e6f5;

}

.cont31 {
    border: 2px solid #000;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 30px;
    background: radial-gradient(circle, #5d1a78, #414b50);

}


.cont32,
.cont33 {
    background: radial-gradient(circle, #5d1a78, #414b50);
    border: 2px solid #000;
    font-size: 20px;
}

.container1 {
    display: flex;
    width: 1500px;
    margin-top: 10px;
    margin-left: 0;
}

.cont2,
.cont3 {
    flex: 1;
}

.cont32 {
    grid-column: 1/2;
    grid-row: 1/3;
}

.cont31 {
    grid-column: 3/4;
    grid-row: 1/3;
}
