body {
    background-color: #526975;
    color: #fff;
}

@font-face {
    font-family: 'Caveat';
    src: url('fonts/Caveat.woff');
}

@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2.woff');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.woff');
}

h1 {
    font-family: 'Caveat';
    line-height: 0;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    text-shadow: 1px 4px green;
}

h2 {
    font-family: 'Exo2';
    line-height: 1.2em;
    text-align: left;

}

p {
    font-family: 'Comfortaa';
    text-indent: 25px;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 200%;
    font-size: 20px;
}

p::first-letter {
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    background-color: hsla(275, 100%, 10%, 1);
}

ol {
    list-style-type: upper-roman;
    font-family: 'Comfortaa';
    font-size: 20px;
}

li   {
    color: blue;
}

span{
    color:black;
}
.listh2{
    line-height: 0;
}