figcaption {
        font-size: 80px;
        font-weight: bold;
    }

img {
        min-width: 50%;
        height: 50px;
        width: 50px;
    }

 .container12{
     display: inline-block;
     width:60%;
    }

body{
    background-color:gray;
}
