figcaption {
        font-size: 20px;
        font-weight: bold;
    }

img {
        min-width: 50%;
        width:240px;
        height: 160px;
    }

 .container12{
     width:50%;
    }

body{
    background-color: blue;
}